{
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "importOrder": [
    "^[./]",
    "<THIRD_PARTY_MODULES>",
    "^@/common",
    "^@/common/(.*)$",
    "^@/components",
    "^@/components/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
