@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --max-width-container: 1440px;

  --spacing-vertical-gap: 24px;

  /* Breakpoints */
  --breakpoint-sm: 360px;
  --breakpoint-md: 768px;

  /* Colors */
  --color-background-black: rgba(17, 24, 28, 1);
  --color-background-black-2: rgba(39, 39, 42, 1);

  --color-purple-light: rgba(101, 84, 213, 1);
  --color-purple-dark: rgba(79, 56, 168, 1);

  --color-green-light: rgba(139, 238, 178, 1);
  --color-green-dark: rgba(9, 151, 76, 1);

  --color-blue-light: rgba(107, 191, 255, 1);
  --color-blue-dark: rgba(13, 130, 255, 1);

  --color-yellow-light: rgba(255, 230, 111, 1);
  --color-yellow-dark: rgba(255, 196, 0, 1);

  --color-red-light: rgba(255, 107, 170, 1);
  --color-red-dark: rgba(255, 51, 153, 1);

  --color-mountain-dew-1: rgba(255, 255, 122, 1);
  --color-mountain-dew-2: rgba(253, 253, 80, 1);
  --color-mountain-dew-3: rgba(203, 239, 87, 1);
  --color-mountain-dew-4: rgba(166, 210, 22, 1);

  --color-disabled-1: rgba(204, 239, 87, 1);
  --color-disabled-2: rgba(101, 84, 213, 1);
  --color-disabled-3: rgba(54, 57, 62, 1);
  --color-disabled-4: rgba(109, 129, 44, 1);
  --color-disabled-5: rgba(62, 65, 70, 1);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
